.about
  .about__img
    img(src="img/about.jpg")
  p.about__description
  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus magni cum velit totam asperiores. Soluta quod animi at veritatis laudantium rerum illum voluptatum consequatur odio excepturi ex assumenda, pariatur cupiditate nihil commodi alias libero doloribus reprehenderit praesentium ipsum! Voluptatum ullam accusamus libero, ducimus asperiores ratione recusandae soluta dolores atque nihil.
