.contact
  h2.contact__title.section__title Contacto
  p.contact__description 
  | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum doloremque impedit aspernatur rerum suscipit. Ipsam eum distinctio inventore enim? Nobis eum facilis eos molestias aliquam dolores, sed ut exercitationem odio. Repellendus illum voluptates vitae porro reprehenderit. Accusantium culpa similique minima ipsa quidem placeat consequatur nulla aut vel ut. Autem, natus!

  form(class="form--contact")
    input(name="name" id="name" placeholder="nombres")
    input(type="email" name="email" id="email" placeholder="correo")
    textarea(name="message", cols="30", rows="10" id="message" placeholder="por donde iniciamos...")
    input(type="submit", value="Contrátame")
