.gallery
  h2.gallery__title.section__title Galería
  
  nav.gallery__nav
    ul(class="menu--gallery")
      li(class="menu__item"): a(href="#" class="menu__link") Todo
      li(class="menu__item"): a(href="#" class="menu__link") Gente
      li(class="menu__item"): a(href="#" class="menu__link") Lugares
      li(class="menu__item"): a(href="#" class="menu__link") Naturaleza

  .picture-gallery
    .picture-gallery__item
      img(class="picture-gallery__image" src="img/img1.jpg")
    .picture-gallery__item
      img(class="picture-gallery__image" src="img/img2.jpg")
    .picture-gallery__item
      img(class="picture-gallery__image" src="img/img3.jpeg")
    .picture-gallery__item
      img(class="picture-gallery__image" src="img/img4.jpeg")
    .picture-gallery__item
      img(class="picture-gallery__image" src="img/img5.jpeg")
    .picture-gallery__item
      img(class="picture-gallery__image" src="img/img6.jpeg")
    .picture-gallery__item
      img(class="picture-gallery__image" src="img/img7.jpeg")
    .picture-gallery__item
      img(class="picture-gallery__image" src="img/img8.jpg")
    .picture-gallery__item
      img(class="picture-gallery__image" src="img/img9.jpg")
    .picture-gallery__item
      img(class="picture-gallery__image" src="img/img10.jpg")
    .picture-gallery__item
      img(class="picture-gallery__image" src="img/img11.jpg")
    .picture-gallery__item
      img(class="picture-gallery__image" src="img/img12.jpg")
