ul(class="menu--main") 
  li(class="menu__item"): a(href="#home" class="menu__link active") Inicio
  li(class="menu__item"): a(href="#gallery" class="menu__link") Galería
  li(class="menu__item"): a(href="#about" class="menu__link") Acerca de mí
  li(class="menu__item"): a(href="#contact" class="menu__link") Contacto
